#navbar {
  background-color: #73655E;
  color: white;
  width: 100%;
}
#nav{
  height: 100%;
}
#navLogo {
  color: white;
  text-decoration:none;
  height: 1.5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.sidebar-sticky{
  background-color: #78AB35;
  width:25%;
}
.venueList{
  list-style-type: none;

}
.listItem {
  
  background-color: white;
  color:  #73655E;
  align-items: center;
}
#map {
  height: 100vh;
  position:unset;
  width:75%;
}
body{
  height:100%;
  margin:0;
  padding:0;
}
#sidebarCan{
  padding:0;
  margin:0;
}

@media only screen and (max-width:600px){
 
}
@media only screen and (min-width:768px){

}
@media only screen and (min-width:992px){
  
}